body{

    background-image: url(images/wa2.jpg);
    background-size: cover;
}
a{
    text-align: center;
}
:active{
    background-image: url(wa2.jpg);
}
a:hover{
    color:chocolate;
    background-color: coral;
}
a:visited{
    color:black;
}
.countainer{

    overflow: auto;
    widows: 15px;;
}
.countainer-full{
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/*debug aid:begain*/
.bg-cadet{
    width:auto ;
}
/*debug aid:end*/
.logo{
    text-align: center; 

}
.menu-primer ul{
    background-color:goldenrod;
    border-radius: 4px;
    margin: 10px auto;
    padding: 10px auto;
}
.menu-primer li{
    display: inline-block;
}
.menu-primer a{
    background-color:chocolate;
    color: aliceblue;
    padding: 8px;
    letter-spacing: 1px;
    font-size: 25px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px auto;
    border: solid 2px;
    text-transform: uppercase;
    display: inline-block;

   
}
.menu-primer a:hover{
   
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 50px;
    letter-spacing: 1px;
    font-size: 25px;
    border-radius: 10px;
}
.menu-primer :active{
    background-color: rgb(62, 62, 255);

}
.jumbotron{
    background-color:gold;
    border: solid 2px;
    border-radius: 40px;
}
.jumbotron h1{
    margin: 20px 40px;
    font-size: 24px;
}
.jumbotron h3{
    margin: 20px 40px;
    font-size: 16px;
}
.copyright p{
    font-size: 14px;
     
}
.box-left{
    width:50.9%;
    float: left;
}
.box-right{
    width:48.9%;
    float: right;
}
.box-footer{
    float: left;
    width: 30%;
} 
.box-heading{
    background-color:chocolate;
    border: solid 1px black;
    border-radius:5px 5px 0 0;
    padding:10px auto;
    text-transform: uppercase;
}
.box-content{
    background-color:gold;
    border: solid 2px black;
    margin: 0px 0px;
    padding: 10px auto;
    height: auto;
    border-radius:5px 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.box-logo{
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 50px;
    letter-spacing: 1px;
    font-size: 25px;
    border-radius: 10px;
}

